.header {
	background: #20315A;
	color: #fff;
}
.border {
	border: 1px #eee solid;
}
input, button {
	margin: 5px;
}
.row {
	margin: 5px;
}
.displayArts {
	margin: 5px;
	background: #e8eaee;
}
.divNum, .wpm {
	display: inline;
	margin: 5px;
}
.wpm {
	color: rgba(0,0,0,.44);
}